[Unit]
Description=Courier POP3 Daemon
Requires=courier-authdaemon.service
After=courier-authdaemon.service

[Service]
Type=forking
ExecStart=/usr/sbin/pop3d start
ExecStop=/usr/sbin/pop3d stop
PIDFile=/run/courier/pop3d.pid

[Install]
WantedBy=multi-user.target
